name: Build

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    name: ${{ matrix.platform.name }} - ${{ matrix.config }}
    runs-on: ${{ matrix.platform.os }}
    defaults:
      run:
        shell: ${{ matrix.platform.shell }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          - {
              name: Msys2,
              os: windows-latest,
              shell: "msys2 {0}",
              msystem: ucrt64,
              msys-env: mingw-w64-ucrt-x86_64,
              package-name: x86_64-w64-mingw32
            }
          - {
              name: Ubuntu,
              os: ubuntu-latest,
              shell: bash,
              package-name: x86_64-linux-gnu
            }
          - {
              name: macOS,
              os: macos-latest,
              shell: bash,
              package-name: x86_64-apple-darwin
            }
        config:
          - Release
          - Debug
    steps:
      - name: Set up Msys2
        if: matrix.platform.shell == 'msys2 {0}'
        uses: msys2/setup-msys2@v2
        with:
          msystem: ${{ matrix.platform.msystem }}
          install: >-
            ${{ matrix.platform.msys-env }}-cmake
            ${{ matrix.platform.msys-env }}-fmt
            ${{ matrix.platform.msys-env }}-ninja
            ${{ matrix.platform.msys-env }}-SDL2
            ${{ matrix.platform.msys-env }}-spdlog
            ${{ matrix.platform.msys-env }}-toolchain
            ${{ matrix.platform.msys-env }}-yaml-cpp

      - name: Set up Linux dependencies
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential \
            bash \
            cmake \
            pkgconf \
            ninja-build \
            libsdl2-dev  \
            libyaml-cpp-dev \
            libspdlog-dev

      # ubuntu-latest ships a version too old for this project
      - name: Checkout fmt 10 (Linux)
        if: runner.os == 'Linux'
        uses: actions/checkout@v3
        with:
          repository: fmtlib/fmt
          ref: 10.0.0
          path: ${{ github.workspace }}/.fmt-src

      - name: Install fmt 10 (Linux)
        if: runner.os == 'Linux'
        working-directory: ${{ github.workspace }}/.fmt-src
        run: |
          cmake \
            -S. \
            -Bbuild \
            -GNinja \
            -DCMAKE_BUILD_TYPE=Release \
            -DCMAKE_INSTALL_PREFIX=${{ github.workspace }}/.deps \
            -DFMT_TEST=OFF \
            -DFMT_DOC=OFF
          cmake --build build --config Release
          cmake --install build --config Release

      - name: Setup Macos dependencies
        if: runner.os == 'macOS'
        run: |
          brew install --formula \
            cmake \
            fmt \
            ninja \
            pkg-config \
            sdl2 \
            spdlog \
            yaml-cpp

      - uses: actions/checkout@v3

      - name: Configure
        run: |
          cmake \
            -S. \
            -Bbuild \
            -GNinja \
            -DCMAKE_BUILD_TYPE=${{ matrix.config }} \
            -DCMAKE_INSTALL_PREFIX=out \
            -DCMAKE_PREFIX_PATH=${{ github.workspace }}/.deps \
            -DENABLE_LTO=OFF

      - name: Build
        run: cmake --build build --config ${{ matrix.config }}

      - name: Install
        run: cmake --install build --config ${{ matrix.config }}

      - name: Upload the result
        if: ${{ matrix.config }} == 'Release'
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.platform.package-name }}
          path: ${{ github.workspace }}/out
          if-no-files-found: error

      - name: Upload failure logs
        if: ${{ failure() }}
        uses: actions/upload-artifact@v3
        with:
          name: failure-logs-${{matrix.platform.package-name}}
          path: build
